/* General formatting */
body {
    /* Need to work out background sometime*/
    /* background-image: url("1.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-attachment: fixed;
    background-size: 100% 100%; */
    background-color: rgb(22, 59, 145);
    margin: 0;
}
h1, h2 {
    color: whitesmoke;
}
p {
    color: whitesmoke;
    word-wrap: break-word;

}
p a {
    color: whitesmoke;
}
p a:hover {
    color: black; /* Change the color of links when hovering */
}
li {
    color: whitesmoke;
}
li a{
    color: whitesmoke;
}
li a:hover {
    color: black;
}

/* Class definitions */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.round-image-corners {
    border-radius: 5%;
}

/* Formatting for sidebar */
ul.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
}
li.sblist a {
    display: block;
    color: #000;
    padding: 10px 16px;
    text-decoration: none;
}
li.sblist a.active {
    background-color: #47a1a1;
    color: white;
}
li.sblist a:hover:not(.active) {
    background-color: #555;
    color: white;
}
ul li ul {
    display: none;
    color: black;
}
ul li:hover ul{
    display: block;
}

/* Button class */
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: whitesmoke;
    float: right;
}